@import "tailwindcss";


.btn-primary-red {
    @apply bg-[#ef233c] text-white border-2 border-transparent font-serif font-bold px-6 py-2 rounded-lg transition-all duration-300 hover:bg-[#d90429] hover:shadow-lg active:scale-95 text-sm md:text-base whitespace-nowrap;
}

.btn-outline-red {
    @apply border-2 border-[#ef233c] text-[#ef233c] font-serif font-bold px-6 py-2 rounded-lg 
           transition-all duration-300 hover:bg-[#ef233c] hover:text-white hover:shadow-lg 
           active:scale-95 text-sm md:text-base whitespace-nowrap;
}

.btn-ghost-white {
    @apply border border-white/40 bg-white/10 backdrop-blur-sm text-white 
           font-serif px-6 py-2.5 rounded-md transition-all duration-300 
           hover:bg-white/20 hover:border-white text-sm md:text-base;
  }

.expertise-card {
    @apply bg-[#fdfcfb] border border-gray-100 p-8 rounded-xl transition-all 
           duration-300 hover:shadow-xl hover:-translate-y-2 flex flex-col items-start;
  }

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }